<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='itv.site'}"></sly>

<section class="brands">
    <div class="brands__container">
        <div class="brands__grid">
            <sly data-sly-use.brandNodes="${resource.path}/brands">
                <sly data-sly-list.item="${brandNodes.listChildren}">
                    <div class="brands__item" data-sly-test="${item.imagePath}">
                        <a href="${item.linkUrl}" 
                           rel="noopener noreferrer"
                           data-sly-test="${item.linkUrl}">
                        <img src="${item.imagePath}" alt="Logo de la Marca" class="brands__img"/>
                        </a>

                        <img data-sly-test="${!item.linkUrl}"
                             src="${item.imagePath}"
                             alt="Logo de la Marca"
                             class="brands__img"/>
                    </div>
                </sly>
            </sly>
        </div>
    </div>
</section>

<sly data-sly-test="${wcmmode.edit && !brandNodes}">
    <div class="cq-placeholder" data-emptytext="Mosaico de Marcas: Configura logos en el diálogo"></div>
</sly>