<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='itv.site'}"/>

<header class="header-lp">
    <div class="header-lp__container">
        
        <div class="header-lp__left-group">
            <div class="header-lp__logo">
                <img src="${properties.logoPath || '/content/dam/itv/logo-buycar.png'}" alt="BuyCar Logo">
                <span class="header-lp__logo-text">BuyCar</span>
            </div>
            
            <nav class="header-lp__nav header-lp__nav--desktop">
                <sly data-sly-resource="${'navigation' @ resourceType='itv/components/navigation'}"></sly>
            </nav>
        </div>

        <div class="header-lp__right-group">
            <a href="${properties.phoneLink || 'tel:999999999'}" x-cq-linkchecker="skip" class="header-lp__button">
                <img src="/content/dam/itv/rrss/whatsapp-icon.png" alt="WhatsApp">
                <span>${properties.phoneText || '999 999 999'}</span>
            </a>
        </div>

        <div class="header-lp__burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <nav class="header-lp__nav header-lp__nav--mobile">
        <sly data-sly-resource="${'navigation' @ resourceType='itv/components/navigation'}"></sly>
    </nav>
</header>