<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='itv.site'}"/>

<section class="about-lp" id="quienes-somos">
    <div class="about-lp__container">

        <div class="about-lp__header">
            <span class="about-lp__tag">${properties.tag || 'Nuestra Historia'}</span>

            <div class="about-lp__title-authorable">
                <sly data-sly-resource="${'about-title' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
            </div>

            <div class="about-lp__intro-authorable">
                <sly data-sly-resource="${'about-intro' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
            </div>
        </div>

        <div class="about-lp__highlight">
            <div class="about-lp__highlight-left">
                <div class="about-lp__eyebrow">
                    <span class="about-lp__eyebrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                            <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            <path d="M6 1a1 1 0 0 0-.8.4L3.6 3.5H2a2 2 0 0 0-2 2V9a2 2 0 0 0 2 2h.17a3 3 0 0 0 5.66 0h.34a3 3 0 0 0 5.66 0H14a2 2 0 0 0 2-2V6.5a2 2 0 0 0-.59-1.41l-2.5-2.5A2 2 0 0 0 11.5 2H10.4l-.6-1.2A1 1 0 0 0 8.9.2h-2.9Zm.5 1h2.2l.5 1H6l.5-1Zm-2.2 2h7.2a1 1 0 0 1 .7.29l2.5 2.5a1 1 0 0 1 .3.71V9a1 1 0 0 1-1 1h-.17a3 3 0 0 0-5.66 0h-.34a3 3 0 0 0-5.66 0H2a1 1 0 0 1-1-1V5.5a1 1 0 0 1 1-1h2.3Z"/>
                        </svg>
                    </span>
                    Más que vender coches
                </div>

                <div class="about-lp__story-card">
                    <sly data-sly-resource="${'about-text-left' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
            </div>

            <div class="about-lp__highlight-right">
                <div class="about-lp__stat-card">
                    <span class="about-lp__stat-number">+10</span>
                    <span class="about-lp__stat-label">marcas disponibles</span>
                </div>

                <div class="about-lp__stat-card">
                    <span class="about-lp__stat-number">1</span>
                    <span class="about-lp__stat-label">objetivo: tu coche ideal</span>
                </div>

                <div class="about-lp__stat-card">
                    <span class="about-lp__stat-number">100%</span>
                    <span class="about-lp__stat-label">acompañamiento cercano</span>
                </div>
            </div>
        </div>

        <div class="about-lp__pillars">
            <article class="about-lp__pillar">
                <div class="about-lp__pillar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M8 0c-.69 0-1.328.178-1.894.516L1.5 3.5A1 1 0 0 0 1 4.366v3.268c0 3.513 2.387 6.906 6.594 8.318a1 1 0 0 0 .812 0C12.613 14.54 15 11.147 15 7.634V4.366a1 1 0 0 0-.5-.866L9.894.516A3.99 3.99 0 0 0 8 0m0 1c.518 0 1.012.133 1.447.38L14 4.004v3.63c0 3.092-2.12 6.06-6 7.38-3.88-1.32-6-4.288-6-7.38v-3.63l4.553-2.624A2.99 2.99 0 0 1 8 1"/>
                    </svg>
                </div>
                <div class="about-lp__card-title">
                    <sly data-sly-resource="${'vision-title' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
                <div class="about-lp__card-text">
                    <sly data-sly-resource="${'vision-text' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
            </article>

            <article class="about-lp__pillar">
                <div class="about-lp__pillar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M15.854 5.146a.5.5 0 0 0-.708 0L9.5 10.793 6.854 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l6-6a.5.5 0 0 0 0-.708"/>
                        <path d="M1 8a7 7 0 1 1 13.857 1.414.5.5 0 1 0 .98.196A8 8 0 1 0 8 16a7.96 7.96 0 0 0 4.95-1.71.5.5 0 0 0-.62-.784A6.96 6.96 0 0 1 8 15 7 7 0 0 1 1 8"/>
                    </svg>
                </div>
                <div class="about-lp__card-title">
                    <sly data-sly-resource="${'mission-title' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
                <div class="about-lp__card-text">
                    <sly data-sly-resource="${'mission-text' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
            </article>

            <article class="about-lp__pillar">
                <div class="about-lp__pillar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="M8 1.314 13.5 4v8L8 14.686 2.5 12V4zM8 0 1 3.5v9L8 16l7-3.5v-9z"/>
                        <path d="M8 4.5 3 2v1l5 2.5L13 3V2zM3 5v1l5 2.5L13 6V5L8 7.5zM3 8v1l5 2.5L13 9V8l-5 2.5z"/>
                    </svg>
                </div>
                <div class="about-lp__card-title">
                    <sly data-sly-resource="${'values-title' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
                <div class="about-lp__card-text">
                    <sly data-sly-resource="${'values-text' @ resourceType='core/wcm/components/text/v2/text'}"></sly>
                </div>
            </article>
        </div>

    </div>
</section>